<!DOCTYPE html>
<html>
<head>
    <title>Трейд-ин</title>
</head>
<body>
    <h1>Трейд-ин</h1>
    <p>действует программа Trade-In, которая предлагает вам возможность обменять вашу старую квартиру на новую,
        значительно упрощая процесс перехода.
        Вы сможете получить справедливую оценку вашей недвижимости и использовать её стоимость для покупки новой квартиры!.</p>
    <p>Индивидуальная оценка вашей текущей квартиры.
Обсуждение финансовых условий и вариантов, подходящих именно вам.
Ответы на все ваши вопросы о процессе Trade-In.
</p>
    <a href="{% url 'district_list' %}"><button>Вернуться к списку районов</button></a>
</body>
</html>